<template>
  <div>	
    <div v-if="!getBadWallet()">
      <prize v-for="(v,k) in getUnclaimedPrizes" :key="k" :prize="v" />
      <h4> {{lang('payment-wallet-text')}} </h4>
    </div>
    <div v-else>
      <h4>{{lang('bad-wallet-text')}}</h4>
    </div>
    <b-form-input style="margin-top: 5px" autofocus v-model="wallet"
          type="text"
          v-bind:placeholder="lang('payment-wallet-placeholder')"/>    
    <center><b-button style="margin-top: 5px" v-on:click="sendWallet">{{ lang('payment-wallet-send') }}</b-button></center>
  </div>
</template>

<script>
import lang from "../../logic/dicionario"
import store from "../../logic/store"
import prize from "./prize"

  export default {
    components: {prize},
    data () {
      return {
        lang: lang,
        wallet: ''
      }
    },
    computed: {
      getUnclaimedPrizes: function(){
        return store.getUnclaimedPrizes();
      }
    },
    methods: {
      getBadWallet: function(){
        return store.getBadWallet();
      },
      validate: function(){
        if (!this.wallet.length == 64 || !this.wallet.startsWith("xrb_")){
          return false;
        }
        return true;
      },
      sendWallet: function(){
        if (this.validate()){
          store.doSendWallet(this.wallet);
          store.resetUnclaimedPrizes();
          this.waitingPayment();
          store.componente = 'info';
        }
        else {
          alert(lang('bad-wallet-message'));
        }
      },
      waitingPayment: function(){
        alert(lang('payment-wallet-sent'));
      }
    }
  }
</script>
