<template>
  <div>
        <b-card :footer="prize_value"
                :title="lang('prize-title')">
            <p class="card-text">{{lang('data-venceu', prize.date)}}</p>
            <p v-if="prize.refer == ''" class="card-text">{{lang('text-venceu')}}</p>
            <p v-else class="card-text">{{lang('text-venceu-refer', prize.refer)}}</p>
        </b-card>
        <br/>
  </div>
</template>

<script>
import lang from "../../logic/dicionario"

  export default {
    props: {
      prize: Object
    },
    data () {
      return {
        prize_value: "US$ " + this.prize.value,
        lang: lang
      }
    },
    created(){
    }
  }
</script>
