<template>
  <div v-if="visible">
    <br/>
    <b-form-input autofocus v-model="username"
              type="text"
              v-bind:placeholder="lang('username_placeholder')"/>
    <br/>
    <b-form-input autofocus v-model="refer"
              type="text"
              v-bind:placeholder="lang('refer_placeholder')"/>
    <br/>
    <b-form-select v-model="refer" class="mb-3">
      <option value=''>{{ lang('instituicoes_placeholder') }}</option>
      <option v-for="inst in instituicoes" v-bind:key="inst" v-bind:value="inst">{{inst}}</option>
    </b-form-select>
    <br/>
    <!--
    <vue-recaptcha sitekey="6LfACF4UAAAAAH62cocfEXTL0wHZ0x0f1WMk5r1G" 
          @verify="onVerify"></vue-recaptcha>
    -->

    <center><b-button v-on:click="register">{{ lang('registrar') }}</b-button></center>
    <br/>
  </div>
</template>

<script>
import lang from "../../logic/dicionario"
import store from "../../logic/store"
//import VueRecaptcha from 'vue-recaptcha';


  export default {
    //components: {VueRecaptcha},
    data () {
      return {
        username: '',
        refer: '',
        //recaptcha: '',
        instituicoes: ['APAE', 'GRAAC', 'AKATU'],
        lang: lang,
        visible: true
      }
    },
    created(){
      // requisitar instituições filantropicas
      // altera this.instituicoes
      const self = this;

      void async function(){
        self.instituicoes = await store.getInstitutions();
      }();
    },
    methods:{    
      validate_string: function(){
        return /^\w+$/.test(this.username) && /^\w+$/.test(this.refer)
      },
      validate_length: function(){
        return this.username.length>=3 && this.username.length<=30 &&
        this.refer.length>=3 && this.refer.length<=30;
      },
      validate: function(){
        if (this.username.length == 0 || this.refer.length == 0){
          alert(lang('validacao_branco'))
          return false;
        }
        if (!this.validate_string()){
          alert(lang('validacao_letras'))
          return false;
        }
        if (!this.validate_length()){
          alert(lang('validacao_length'))
          return false;
        }
        if (this.username == this.refer){
          alert(lang('validacao_igual'))
          return false;
        }
        /*if (this.recaptcha == ''){
          alert(lang('recaptcha_branco'));
          return false;
        }*/
        return true;
      },
      register: async function(){
        if (!this.validate())
          return;

        let r = confirm(lang('confirm_register', [this.username, this.refer]));
        if (r == true) {          
          // desativa toda interface
          // aguardando o resultado do registro
          this.visible = false;

          //let response = await store.doRegister(this.username, this.refer, this.recaptcha);
          let response = await store.doRegister(this.username, this.refer);

          if (response.status == 200){
            alert(this.username + ' criado!')
            store.componente = 'config';
          } else {
            if (response == 406){
              alert('Nome em uso');
            } else if (response == 409){ 
              alert('Indicador inexistente');
            }else{
              alert('erro desconhecido');
            }
          }
        }
      },
      /*onVerify: function (response) {
        this.recaptcha = response;
      }*/
    }
  }
</script>
