<template>
  <div>
      <center><h5>{{lang('pc-ativo')}}</h5></center>
    <br/>
        <vue-slider  @callback="changeAtivo" :interval=5 :min=5 :max=70 v-model="ativo"/>
      <center><h5>{{lang('pc-inativo')}}</h5></center>
    <br/>
        <vue-slider @callback="changeInativo" :interval=5 :min=15 :max=70 v-model="inativo"/>
    <br/>
      <center><h5>Modo silencioso</h5></center>
      <center><p>Notificação por e-mail e pagamento automático.</p></center>
    <b-form-input autofocus v-model="email"
              type="text"
              v-bind:placeholder="lang('silence-email')"/>
    <b-form-input style="margin-top: 5px" autofocus v-model="wallet"
              type="text"
              v-bind:placeholder="lang('silence-wallet')"/>    
    <center><b-button style="margin-top: 5px" v-on:click="ativar">{{ lang('silence-activate') }}</b-button></center>
  </div>
</template>

<script>
import vueSlider from 'vue-slider-component'
import lang from "../../logic/dicionario"
import store from "../../logic/store"
var email_validator = require('email-validator');

  export default {
    components: {
      vueSlider
    },
    data () {
      return {
        ativo: 15,
        inativo: 40,
        email: '',
        wallet: '',
        lang: lang,
        store: store
      }
    },
    created(){
    },
    methods: {
      ativar: function(){
        // validar email
        
        if (!email_validator.validate(this.email)){
          alert('E-mail invalido!')
          return false
        }
        // validar wallet address

        // enviar pro backend específico com o thingName
        // colocar recaptcha
      },
      changeAtivo: function(new_value){
        if (this.inativo <= new_value){
          this.inativo = new_value
          store.setInativoCpuUsage(new_value) 
        }
        store.setAtivoCpuUsage(new_value)
      },
      changeInativo: function(new_value){
        if (this.ativo >= new_value){
          this.ativo = new_value
          store.setAtivoCpuUsage(new_value)
        }
        store.setInativoCpuUsage(new_value)        
      }
    }
  }
</script>
