<template>
  <div>
    <center><h2>{{lang('bem-vindo')}}, {{ getUsername() }}</h2></center>
  </div>
</template>

<script>
import lang from "../../logic/dicionario"
import store from "../../logic/store"

  export default {
    data () {
      return {
        info: {},
        store: store,
        lang: lang
      }
    },
    created(){
      // pedir dados pro store
      // preencher this.info
    },
    methods:{
      getUsername(){
        // pedir nome de usuario pro store
        return store.getUsername();
      }
    }
  }
</script>
